*.uvguix.*
*.scvd
*.uvoptx
*.bin
*.elf
*.hex
*.lst
*.map
*.htm
*.lnp
*.dep
*.iex
*.axf
*.o
*.d
*.crf
*.o
*.bak
*.ddk
*.ex
*.Fed
*.lib
*.msm
*.htm
*.lnp
*.opt
*.plg
DebugConfig/
RTE/
Listings/
Objects/
.vscode/
*.uvprojx.bak
JLinkLog.txt
JLink*
*.ini
